<% include Partials/header.ejs %>
  <div class="px-4 mb-5 text-center">
    <h1 class="display-5 fw-bold">Welcom to Student Portal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">To use your Student Portal</p>
      <p class="lead mb-4">Start the Library Module at port 80</p>
      <p class="lead mb-4">Start the Finance Module at port 8081</p>
      <p class="lead mb-4">After these . You are ready to use you portal </p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/all-courses" type="button" class="btn btn-primary btn-lg px-4 gap-3">Get Started</a>

      </div>
    </div>
  </div>
  <% include Partials/footer.ejs%>