<% include Partials/header.ejs %>

  <% if (invoices) { %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Reference</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% invoices.forEach(invoice=> { %>

          <tr>
            <th scope="row">-></th>
            <td>
              <%= invoice.reference %>
            </td>
            <td>
              <%= invoice.amount %>
            </td>
            <td>
              <%= invoice.status %>
            </td>
          </tr>
          <% }) %>

      </tbody>
    </table>
    <% } %>
      <% if (!invoices) { %>
        <h4 class="text-center">Invoices not found for you</h4>
        <% } %>
          <% include Partials/footer.ejs%>